{
    email geektheripper@gmail.com
}

git.geektr.co {
    respond /coffee "I'm a teapot" 418
    respond /sex "Never Gonna Give You Up" 419
    header /sex rickroll "https://www.youtube.com/watch?v=dQw4w9WgXcQ"
    reverse_proxy gitlab.gitlab
}

registry.geektr.co {
    reverse_proxy gitlab.gitlab:5001
}

npm.geektr.co {
    reverse_proxy verdaccio.verdaccio:4873
}
